<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile Page</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>User Profile</h1>

<div>
    <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Registration Date:</strong> <span th:text="${formattedRegistrationDate}"></span></p>
    <p><strong>Last Login Date:</strong> <span th:text="${formattedLastLoginDate}"></span></p>

</div>

<a href="/logout">Logout</a>
</body>
</html>
